body{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment:fixed;
    background-size: cover;
    font-family: 'Ubuntu', cursive; 
    position: relative;
}
.navbar-default{
    /*background-color: #3b94d9;   */
    background-color: #232323;
    color: white;
    height: 60px;
    border: none;
}
.navbar-brand, navbar-brand > a{
    color: #fff !important;
    cursor: pointer;
    font-family: 'Raleway', cursive;
    margin: 4px;
    font-weight: bolder;
    font-size: 14px;
}
.nav-pills{
    margin: 5px !important;
}
.modal{
    margin-top: 50px;
    font-family: 'Raleway', cursive;
}
.modal-header{
    background-color: #e14d43;
    border-bottom: none;
    color: #fff;
}
.modal-body{
    background-color:#232323;
    color: #fff;
}

.modal-body li{
    list-style: none;
}

.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:focus,
.nav-pills li.active a:hover
.button-down a:hover{
    /*background-color: #89c9fa !important;*/
    border-bottom:3px solid #e14d43 !important; 
    color:#e14d43 !important;
    border-radius: 0px !important;
    background: none !important;
    -webkit-transition: all 0.3s ease;
}
.navbar-header{
    width: 100%;
}
#home{
    padding: 10px;
    height: 700px;
    padding-top: 200px; 
}
.button-down a{
    position: relative;
    top:100px;
    background-color: rgba(0,0,0,0.7);
    width: 100px;
    padding: 10px;
    border:none;
    border-radius: 0px;
}
.about-headline{
    font-family: 'Ubuntu', cursive;    
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.about-desc, .port-desc{
    font-family: 'Raleway', cursive;    
    font-size: 18px;
    color: #fff;
}
.about-desc b{
    font-size: 22px; 
    text-transform: uppercase;
    color: #e14d43;
}
.about-desc .title{
	font-size: 20px;
	color: #e14d43;
}
#about {
    background-color: rgba(0,0,0,0.9);
    padding: 155px;
    height: 700px;
    margin: 0px -15px 0px -15px;
}
.folios-text{
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    font-family: 'Raleway', cursive;
    font-size: 18px;
    color: #fff;
}
#portfolio{
    padding: 50px;
    margin: 0px -15px 0px -15px;
    background-image: url("../images/img3.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment:fixed;
    background-size: cover;
}
.well{
    border-radius: 0px;
}
#contact{
    margin: 0px -15px 0px -15px;
    background-color: #333;
    padding: 20px;
    color: #fff;
}